<nav>
    <ul>
      <li (click)="navigateTo('/home')">
        <i class="fas fa-home"></i> Home
      </li>
      <li (click)="navigateTo('/treinos')">
        <i class="fas fa-dumbbell"></i> Treinos
      </li>
      <li (click)="navigateTo('/dietas')">
        <i class="fas fa-utensils"></i> Dieta
      </li>
      <li (click)="navigateTo('/perfil')">
        <i class="fas fa-user"></i> Perfil
      </li>
      <li (click)="navigateTo('/configuracoes')">
        <i class="fas fa-cog"></i> Configurações
      </li>
    </ul>
  </nav>