<main>

  <app-header 
    [title]="`Editar Treino: ${treino.nome}`"
    [voltar]="true"
    [caminhoVoltar]="`/treino/detalhar/${treinoId}`"
  ></app-header>

  <br>  
    <form [formGroup]="treinoForm" (ngSubmit)="editar(treinoId)">
      <div class="form-group">
        <label for="nome">Nome do Treino</label>
        <input type="text" id="nome" formControlName="nome" class="form-control"/>
        <div *ngIf="treinoForm.get('nome')?.invalid && treinoForm.get('nome')?.touched" class="error">
          Nome é obrigatório.
        </div>
      </div>
  
      <div class="form-group">
        <label for="descricao">Descrição do Treino</label>
        <textarea id="descricao" formControlName="descricao" class="form-control"></textarea>
      </div>
  
      @if (isTreinador) {
        <div class="form-group">
          <label for="aluno">Aluno</label>
          
          <!-- Select para escolher um aluno -->
          <select id="aluno" formControlName="aluno" class="form-control" (change)="onAlunoSelect($event)">
            <option value="">Selecione um aluno</option>
            @for (aluno of alunosDisponiveis; track aluno.id) {
              <option [value]="aluno.id" [disabled]="isAlunoSelecionado(aluno)">
                {{ aluno.nome }}
              </option>
            }
          </select>
      
          <!-- Lista de alunos selecionados -->
          <div class="selected-alunos">
            @if (selectedAlunos) {
              <div class="selected-aluno">
                {{ selectedAlunos.id }} - {{ selectedAlunos.nome }}
                <button type="button" (click)="removeAluno()" class="remove-aluno">×</button>
              </div>
            }
          </div>
      
          <!-- Mensagem de erro -->
          @if (treinoForm.get('aluno')?.invalid && treinoForm.get('aluno')?.touched) {
            <div class="error">
              Aluno é obrigatório.
            </div>
          }
        </div>
      }
      @else {
        <!-- Exibe o aluno selecionado (o próprio usuário) -->
        <div class="form-group">
          <label for="aluno">Aluno</label>
          <div class="selected-aluno">
            {{ usuario.id }} - {{ usuario.nome }}
          </div>
        </div>
      }
  
      <button type="submit" class="btn btn-primary" [disabled]="treinoForm.invalid">Editar</button>
    </form>
  </main>
  